body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: moccasin;
}

#converter {
    display: inline-block;
    text-align: left;
    
}
button{
    color: white;
    background-color: red;
}
p{
    border: solid white;
    width: auto;
    height: auto;
    text-align: center;
}